[Unit]
Description=MyBot4QQ Service
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/uv run main.py
WorkingDirectory=/home/heke1228/application/MyBot4QQ

Restart=on-failure
RestartSec=10
StartLimitBurst=3

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ReadWritePaths=/home/heke1228/application/MyBot4QQ

StandardOutput=journal
StandardError=journal
SyslogIdentifier=mybot4qq

[Install]
WantedBy=multi-user.target
